.message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 1rem;
  color: white;
  font-size: 1.5rem;
  background-color: #1d3557;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  animation: fadeIn ease 2s;
  flex-wrap: wrap;
  max-width: 50%;
}

.message.right {
  background-color: white;
  color: #1d3557;
  align-self: flex-start;
  margin-left: 1rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
