.chatForm {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #457b9d;
  height: 5rem;
  padding: 0.3rem;
  border-radius: 7px;
}
.input {
  flex: 1;
  height: 100%;
  margin-right: 1rem;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 1rem;
  font-size: 1.5rem;
}
.button {
  background: transparent;
  border: none;
}
.button:focus {
  outline: none;
}
.MuiSvgIconRoot {
  color: white;
  font-size: 3rem;
}
@media only screen and (max-width: 600px) {
  .chatForm {
    width: 90%;
    margin-bottom: 4rem;
  }
}
